.loginDiv {
  background-color: cadetblue;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}
.loginContainer {
  max-width: 650px;
  margin: 8% 0 0 10%;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(74, 129, 35);
  background: white;
  box-shadow: 0 0 6px rgba (0, 0, 0, 0.25);
  display: grid;
  gap: 2%;
  height: 40vh;
  flex-basis: 350px;
  flex-shrink: 0;
  overflow: auto;
}
.loginButton {
  height: 5vh;
  background-color: rgb(90, 187, 90);
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 20px;
}

.gobackButton {
  height: 5vh;
  background-color: rgb(99, 99, 171);
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 20px;
}
